*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: inherit;
}

main .top{
background-color: whitesmoke;
height: 100%;
width: 100%;
/* position: relative; */
}


.container-top{
    display: flex ;
    flex-wrap: wrap;
    justify-content: center;
    padding: 100px 0 100px 0;
}


/* CONTAINER-LEFT */
.container-top-lef {
    position: relative;
    width: 450px;
}
.toggler-top .toggler-logo{
    position: relative;
    width: 100%;
    margin-left: -15px;
  
 }

.toggler-top .toggler-logo img{
    height: 58px;
    }
    
    .toggler-top .toggler-title{
        /* line-height: 5px; */
        margin-bottom: 30px;
        line-height: 4px;
    }
    
    .toggler-top .toggler-title h5{
        font-size: 23px;
        font-weight: 500;
    }
    
    .toggler-top .toggler-title p{
        font-size: 15px;
        opacity: 0.9;
    }
    
    .container-top-lef .img-box{
        width: 100%;
        height: 206px;
        display: flex;
        
    }
    
    .img-box .img-user{
        height: 178px;
        width: 140px;
        border-radius: 5px;
        cursor: pointer;
        margin-right: 20px;
        transition: 0.7s;
       
    }

    .img-box .img-user:hover{
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 8px 0 rgba(0, 0, 0, 0.2); 
    
    }




    
.img-user .img-img-user img{
    object-fit: cover;
    height: 100%;
    width:100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}


.img-user .footer-user{
    text-align: center;
    background-color: #ffffff;
    
}
.img-user .footer-user p{
    padding: 7px  0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.img-user .footer-user p a{
    text-decoration: none;
}


.container-top-right{
    height: 496px;
    width: 350px;
}


.container-top-right .form-box{
    background-color: #ffffff;
    position: relative;
    height: 310px;
    width: 100%;
    border-radius: 5px;
    margin-top: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.form-box .form-container{
    padding: 12px 12px;
    justify-content: center;
    text-align:center;
}

.form-box .form-container form input{
    width: 100%;
    padding: 8px 12px;
    border: 1px solid grey;
    margin-bottom: 15px;
    border-radius: 5px;
    outline: none;
}

.form-box .form-container form  button{
    width: 100%;
    padding: 8px 0;
    outline: none;
    border: none !important;
    border-radius: 5px;
    box-shadow: none !important;
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
    background-color: #1877f2;
}


.form-box .form-container form  a{
    text-decoration: none;
    font-size: 14px;

}

.form-box .form-container .submit{
    outline: none;
    border: none !important;
    border-radius: 5px;
    box-shadow: none !important;
    color: white;
    padding: 8px 0;
    background-color: green;
    width:200px ;
    margin-top: 10px;
   
}

.container-top-right p{
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
}


/* responsive */

@media screen and (max-width: 798px){
    .container-top-lef {
        text-align: center;
        margin-bottom: -40px;
    }  
    .img-box{
        display: flex;
        justify-content: center;
    }
    .container-top {
        padding: 10px;
    }
}